/* ------------------------------ Background 1 ------------------------------ */

@import "https://unpkg.com/open-props/durations.min.css";
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #1d2226;
}
.noise {
  --lines: 0.0001px;
  will-change: transform;
  transform: translateZ(0);
  mask-image: repeating-radial-gradient(
    circle at center,
    #000,
    var(--lines),
    #000,
    0,
    #0000,
    calc(var(--lines) * 2),
    #0000 0
  );
  animation: liner var(--hour) linear infinite;
}
@property --lines {
  syntax: "<length>";
  inherits: false;
  initial-value: 0.00010px;
}
@keyframes liner {
  50% {
    --lines: 0.00013px;
  }
}

/* ------------------------------ Background 2 ------------------------------ */

.background2 {
	display: flex;
	min-height: 100vh;
	min-width: 100vw;
	position: fixed;
	align-items: flex-end;
	z-index: 0;
}
.background2 .lineColor {
	width: 100%;
	height: 100vh;
	transform: scale(1, 0);
}
.background2 .lineColor1 {
	background: #264653;
}
.background2 .lineColor2 {
	background: #2A9D8F;
}
.background2 .lineColor3 {
	background: #E9C46A;
}
.background2 .lineColor4 {
	background: #F4A261;
}
.background2 .lineColor5 {
	background: #E76F51;
}

.lineColor1Anim {
	animation: lineColorAnim 1.6s ease-in forwards;
}
.lineColor2Anim {
  animation: lineColorAnim 1.9s ease-in forwards;
}
.lineColor3Anim {
  animation: lineColorAnim 1.4s ease-in forwards;
}
.lineColor4Anim {
  animation: lineColorAnim 1.7s ease-in forwards;
}
.lineColor5Anim {
  animation: lineColorAnim 1.3s ease-in forwards;
}

@keyframes lineColorAnim {
	0% {
		transform: translateY(100vh);
	}
	100% {
    transform: translateY(0);
  }
}